MYSQL_DATABASE=hankkeut
MYSQL_ROOT_PASSWORD=change-root-me
MYSQL_PORT=3306
DB_URL=jdbc:mysql://127.0.0.1:3306/hankkeut?serverTimezone=UTC&characterEncoding=UTF-8
DB_USERNAME=hankkeut
DB_PASSWORD=change-me
